.p {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
    height: 10.5vh;
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
}

.itemd {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
    width: 50%;
    padding: 10px;
    margin: 10px;
    position: absolute;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    height: 30vh;
    margin: 10px;
}

.box {
    width: 130px;
    grid-column: 1/2;
}

.box2 {
    width: 170px;
    grid-column: 2/3;
}

.box3 {
    width: 250px;
    grid-column: 3/7;
}

.price {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
    height: 10.5vh;
    padding: 10px;
    margin: 10px;
}

.item4 {
    grid-row: 1/5;
    grid-column: 2/3;
}

.item5 {
    grid-column: 3/7;
    grid-row: 1/5;
    justify-content: space-evenly;
}

.item6 {
    grid-row: 2/5;
}

.item7 {
    grid-column: 2/7;
    grid-row: 1/5;
}