.totalAndBuy {
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: large;
    font-style: italic;
    color: black;
    background-color: red;
    padding: 6px;
    border-radius: 8px;
}